---
---
html {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  color: #0B0C0C;
  font-size: 1rem;
  line-height: 1.6;
  line-height: 1.31579;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

.page_inner {
    max-width: 80%;
    width: 100%;
    clear:both;
    margin:0 auto;
}

header {
  background-color:#2b8cc4;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-bottom: 30px;
}

header a {
    text-decoration:none;
}

header a:hover {
    text-decoration:underline;
}


header + main {
    margin-top:1.5em;

}

body > header h1 {
  font-weight: bold;
  font-size:3.2rem;
  margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.3125rem;
    line-height: 1.4;
    margin-top:2.3125rem;
    margin-bottom:1.3125rem;
}
h2 + * {
    margin-top:0.2em;
}

nav {
      margin-top:0;
}

nav ul {
  padding:0;
}

nav ul li {
    padding:0 0.5em;
    list-style-type:none;
    display:inline-block;
}
nav ul li:first-child {
  padding-left:0;
}


body > header h1,
body > header a,
body > header a:visited,
body > header a:hover,
body > header a:active {
    color:#FFF;
}

img {
    max-width:100%;
}

p {
  color: #0B0C0C;
  margin-top:0.3125em;
  margin-bottom:1.25em;
  font-size: 1em;
}

a {
  color:#4c2c92;
}

a:visited {
  color:#005ea5;
}

a:hover,
a:active {
  color:#2b8cc4
}

dl {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
  margin-bottom: 1.25rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.75rem;
}

iframe {
  width: 100%;
  max-width: 560px;
}

article {
  margin-top: 60px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  max-width: 66.667%;
}

footer {
  margin-top: 60px;
  background-color:#dee0e2;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  height: 240px;
}

.licensing {
  width: 83.33333%;
  float: left;
  margin-top: 117px;
}

.copyright {
  width: 16.66667%;
  float: right;
  margin-top: 50px;
}

.licensing a.logo-image {
  background-image: url({{ site.baseurl }}/images/ogl_logo.png);
  background-size: 41px 17px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999em;
  width: 42px;
}

@media (max-width: 800px) {
  .page_inner,
  article {
    max-width: 100%;
  }
  .copyright,
  .licensing {
    float: none;
    width: 100%;
  }
  .licensing {
    padding-top: 2em;
  }
  .copyright p {
    margin-bottom: 0;
  }
  footer {
    height: 360px;
  }
}
