html {
  font-size: 125%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.5;
  color: #222;
  font-size: calc(112.5% + 0.2vw)
}

* {
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

.page_inner {
    max-width:40em;
    clear:both;
    margin:0 auto;
    padding:0.5em;
}

header {
  background-color:#005EA5;
  padding: 2em; /* adjusts for leftover bottom margin of children */
}

header a {
    text-decoration:none;
}


header + main {
    margin-top:1.5em;

}

h1, h2, h3 {
  font-weight: normal;
}

body > header h1 {
  font-weight: normal;
}

h2 {
    font-size:1.2rem;
    font-weight:normal;
}
h2 + * {
    margin-top:0.2em;
}

nav {
      margin-top:0;
}

nav ul {
  padding:0;
}

nav ul li {
    padding:0 0.5em;
    list-style-type:none;
    display:inline-block;
}
nav ul li:first-child {
  padding-left:0;
}


a, a:visited {
    color: #000000;
}

body > header a, body > header a:visited {
    color:#FFF;
}

img {
    max-width:100%;
}

footer {
  background-color:#dee0e2;
}
