<footer>
  <div class="page_inner">
    <div class="licensing">
      <p>The source for this page is on <a href="https://github.com/openregister/register-design-patterns">GitHub</a>.
        <a href="https://github.com/alphagov/styleguides/blob/master/pull-requests.md">Contributions</a> and feedback are welcome.</p>
      <p>
        <a class="logo-image" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
        <span class="ogl-text">All content is available under the</span>
        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
      </p>
    </div>

    <div class="copyright">
      <img src="{{ site.baseurl }}/images/govuk_crest_grey.png"/>
      <p>© Crown copyright</p>
    </div>
  </div>
</footer>
